<div class="container">
    <div class="row">
        <h1 class="text-center">Educacion - Formacion Academica</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Titulo Universitario</h1> -
                    <h3>(2017)</h3>
                </li>
                <p>Abogado-Universidad Catolica de Salta.</p>
            </ul>
            <ul>
                <li>
                    <h1>Curso de Ingles con Orientacion en Programacion</h1> -
                    <h3>(2023)</h3>
                </li>
                <p>Secretaria de Economia del Conocimiento - Curso Nivel 2 de Ingles Tecnico para Desarrolladores de Software del Centro Universitario de Idiomas, del Marco Común Europeo de Referencias para las Lenguas MCER..</p>
            </ul>
			<ul>
			 <li>
                    <h1>Titulo de Programador</h1> -
                    <h3>(2023)</h3>
                </li>
                <p>Programador Full Stack Developer Jr. Plan Argentina Programa 4.0, Ministerio de Economia Argentina.</p>
            </ul>
			<ul>
			 <li>
                    <h1>Titulo Secundario</h1> -
                    <h3>(1998/2002)</h3>
                </li>
                <p>Bachiller Perito Mercantil - Insituto Padre Gabriel Tommasini.</p>
            </ul>
        </div>

    </div>
</div>